Source: mecab-ipadic-neologd
Section: text
Priority: optional
Maintainer: Gasol Wu <gasol.wu@gmail.com>
Build-Depends: debhelper (>= 9), mecab, libmecab-dev, patch
Standards-Version: 3.9.5
Homepage: https://github.com/neologd/mecab-ipadic-neologd
Vcs-Git: git@github.com:neologd/mecab-ipadic-neologd.git
Vcs-Browser: https://github.com/neologd/mecab-ipadic-neologd

Package: mecab-ipadic-neologd
Architecture: all
Depends: ${misc:Depends}, mecab
Description: Neologism dictionary for MeCab
 This dictionary includes many neologisms (new word), which are extracted
 from many language resources on the Web.
